<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
<h2 >Customer Port Out</h2>

<tr>
<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
       <th>Customer ID</th>
            <th>Tenure</th>
            <th>Contract</th>
            <th>Total Charges</th>
           
   </tr>
  </thead>
  <tbody>
      <tr  th:each="customer : ${listcustomers }">
<td th:text="${customer.customerID}">Customer ID</td>
<td th:text="${customer.tenure}">Tenure</td>
<td th:text="${customer.Contract}">Contract</td>
<td th:text="${customer.TotalCharges}">Total Charges</td>
    
</tr>
  
  </tbody>
</table>
                    
                 </div>
 
            </div>
 
</tr>
 
</tbody>
</table>
<div>
</body>
</html>